#home-page {
  background-color: black;
  height: 75vh;

  #home-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    h1 {
      color: $gold;
      margin: 0;
    }
  }
}
