<div id="profile-page" data-controller="avatar-preview">
  <turbo-frame id="avatar">
    <div id="avatar-container">
      <%= image_tag(@user.avatar, id: "profile-avatar") %>
      <%= link_to edit_avatar_user_path(@user), id: "edit-avatar", data: { turbo_frame: "avatar_form" } do %>
        <i class="fa-solid fa-pencil"></i> Edit Avatar
      <% end %>
    </div>
  </turbo-frame>
  <h1><%= @user.username %></h1>

  <turbo-frame id="avatar_form"></turbo-frame>
</div>
