  <div id="footer">
    <p>Created by <%= link_to "Ilya Obretetskiy", "https://ilyaobretetskiy.com/", target: "_blank" %></p>
    <p>Powered by <%= link_to "GetSongBPM", "https://getsongbpm.com/", target: "_blank" %></p>
  </div>
