#footer {
  color: $gold;
  text-align: center;
  padding: 8px;
  border-top: 2px solid $gold;
  height: 15vh;

  p {
    margin: 0;

    a {
      color: $gold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
