@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "components/index";
@import "pages/index";

@import "bootstrap";

body, html {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
}
